<%- include("../partials/header") %>

<link rel="stylesheet" type="text/css" href="/stylesheets/show.css">

<div class="ui text container">
      <h2 class="ui image header" style="color: white;">
        <i class="fas fa-code" style="font-size:xx-large;"></i>
        <div class="content"><%=blog.title%></div>
      </h2>
    
    
</div>



<%- include("../partials/footer") %>