<%- include("partials/header") %>

<h2 id="blogs-header" class="ui image header" style="color: white; text-align: center;">
  <i class="fas fa-code" style="font-size:xx-large;"></i>
  <div class="content">Blogs</div>
</h2>

<div class="ui grid container">
  <% for(var i = 0; i < 16; i++) { %>
    <div class="four wide column">
        <div class="ui link special card">
            <div class="blurring dimmable image">
              <div class="ui dimmer">
                <div class="content">
                  <div class="center">
                    <div class="ui inverted button">Read</div>
                  </div>
                </div>
              </div>
              <img src="codecode.jpg">
            </div>
            <div class="content">
              <a class="header">Top 10 C++ Projects Ideas for C++ Beginners</a>
              <div class="meta">
                <span style="font-weight: 600;">Introduction C++ was built as an extension to C and gave programmers a high control over memory and system resources. If you know any ...</span>
              </div>
            </div>
            <div class="extra content date">
              <a>
                06 Jan, 2021
              </a>
            </div>
          </div>
    </div>
    <% } %>
</div>

<script type="text/javascript" src="/scripts/index.js"></script>



<%- include("partials/footer") %>