
#form-segment{
    background-color: rgba(57, 58, 57, 0.801);
}


#msg{
    margin-left: 20%;
    margin-right: 20%;
}

.ui.form{
    margin-left: 20%;
    margin-right: 20%;
}

.ui.grid{
    margin-left:10rem;
    margin-right: 10rem;
}

#email-field{
    margin-bottom: 4px;
}