.ui.fluid.container{
    /*background: #586474;
    *//*margin: 10px 30px 0 30px !important;
    */background: #fff;
    /*width: 900px;*/
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ui.text.container{
    max-width: none !important;
    color: black;
    text-align: center;
    outline: none !important;
    box-shadow: 5px 5px 8px 2px #aaaaaa;
    background: #ffffff;
}

#title{
    margin-top: 10px;
    font-size: xx-large;
}

#blog-img{
 margin:auto;
 width: 80%;
 height: 60%;
}

#meta-data{
    display:flex;
    color: gray;
    padding-top: 2px;
    padding-right: 27em;
    margin-left: 10%;
}

#markdown{
  outline: none !important;
  text-align: justify;
  margin: 5%;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding-bottom: 10px;
}

#delete-btn{
  margin-right: 0;
}

#delete-form{
  margin: 0;
}