.ui.fluid.container{
    /*background: #586474;
    *//*margin: 10px 30px 0 30px !important;
    */background: #fff;
    width: 900px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ui.text.container{
    color: black;
    text-align: center;
    outline: none !important;
    border:1px solid #21ba45;
    box-shadow: 0 0 20px #719ECE;
    background: #ffffff;
}

#title{
    margin-top: 10px;
    font-size: xx-large;
}

#blog-img{
  border-bottom: 1px solid #719ECE;
  box-shadow: 0 4px 2px -2px #719ECE;
}

#meta-data{
    color: gray;
    padding-top: 2px;
    padding-right: 28em;
}

#markdown{
  outline: none !important;
  box-shadow: 0 0 12px #719ECE;
  margin: 10px;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#delete-btn{
  margin-right: 0;
}

#delete-form{
  margin: 0;
}

img.ui.image{
    margin: auto;
    width: 80%;
}