.ui.fluid.container{
    /*background: #586474;*/
    /*margin: 10px 30px 0 30px !important;*/
    background: #fff;
    width: 80%;
}

.ui.text.container{
    color: black;
    text-align: center;
}

#title{
    font-size: xx-large;
}

#meta-data{
    padding-right: 27em;
}

img.ui.image{
    margin: auto;
    width: 80%;
}